  .container {
    position: relative;
    width: 1728px;
    height: 51px;
    background: #FFFFFF;
    margin-inline-start: 10px;
} 

 header
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
    text-decoration-line: underline;
    color: #000000; 
}  

 h5{
margin-inline-start: 40px;
background: #FFFFFF;
}

.rectangle1
{
    box-sizing: border-box;
    position: absolute;
    width: 1000px;
    height: 400px;
    left: 38px;
    top: 13px;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 50px;
    border: 2px solid #000000; 
} 

 .image 
 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700px;
    font-size: 50px;
    line-height: 77px;
    padding-top: 400px;
    padding-left: 50px;
    text-decoration-line: underline
} 
img
{
  padding-left: 50px;
}

 .tirvia
{
    padding-left: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
    text-decoration-line: underline;
    color: #000000;
} 

 .list
{
    font-size: 20px;
    font-style:normal;
    padding-left: 20px;
    
} 

a,a

 {
    font-weight: 200px;
    font-size: 20px;

 }

  p

 {
    font-size: 20px;  
 } 
 